:root{
    --dark: #142cb4;
    --light: #f0eee0;
}

body{
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 700;
    z-index: 5;
}

ul a{
    display: block;
    line-height: 3;
    color: var(--light);
}

.my-photo{
    display: block;
    height: 600px;
    width: 1000px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px; 
    z-index: 1; 
}

header{
    display: block;
    font-size: 50px;
    font-style: italic;
    /*border: 3px black solid; Used border to help with positioning*/
    position: relative;
    top: 400px;
    left: 20px;
    text-align: left;
    z-index: 2;
}

h2{
    font-size: 32px;
    margin-left: 20px;
    padding: 0px, 50px;
}

.bio{
    height: 200px;
    max-width: 100%;
    /*border: 2px black solid; Used border to help with positioning*/
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-top: 450px;
    margin-left: 20px;
    margin-bottom: 100px;
    overflow: scroll;
}

.myprojects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
}

#project1, #project2, #project3{
    transition: transform(.2s);
}

#project1:hover, #project2:hover, #project3:hover{
    transform: scale(1.2);
}

.card img{
    border-radius: 15px;
}

.card a{
    color: var(--light);
}

.mytoolbox img{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 30%
    border-radius: 15px;
    height: 600px;
    width: 800px;
    opacity: .3;
}

.mytoolbox ul{
    position: relative;
    /* border: 2px black solid; */
    top: -500px;
    /* bottom: 500px; */
    padding-left: 5%;
    font-size: 36px;
    line-height: 3;
}

.mytoolbox li{
    display: flex;
    flex-direction: row;
    flex: 1, 2, 100%;
    justify-content: center;
    list-style-type: none;
}

.myresume p{
    height: 200px;
    max-width: 100%;
   /*  border: 2px black solid; Used border to help with positioning. */
    font-size: 32px;
    text-align: center;
    position: relative;
    margin-left: 20px;
    margin-bottom: 100px;
    overflow: scroll;
}

footer{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px){
    .mytoolbox ul{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }    
}
/* Used to change project tiles to column in smaller viewports. */
@media screen and (max-width: 576px){
    .myprojects{
        flex-direction: column;
    }
}