:root{
    --dark: #142cb4;
    --light: #f0eee0;
}

body{
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    font-size: 24px;
    font-weight: 700;
}

ul a{
    display: block;
    line-height: 3;
    color: var(--light);
}

.my-photo{
    display: block;
    height: 600px;
    width: 1000px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px; 
    z-index: 1; 
}

header{
    display: block;
    font-size: 50px;
    font-style: italic;
    /*border: 3px black solid;*/
    position: relative;
    top: 100px;
    left: 20px;
    text-align: left;
    z-index: 2;
}

h2{
    font-size: 32px;
    margin-left: 20px;
}

.bio{
    height: 200px;
    max-width: 100%;
    /*border: 2px black solid;*/
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-top: 150px;
    margin-left: 20px;
    margin-bottom: 100px;
    overflow: scroll;
}

.myprojects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
}

.card img{
    border-radius: 15px;
}

.mytoolbox img{
    display: flex;
    flex-direction: row;
    margin: auto;
    border-radius: 15px;
    height: 500px;
    width: 800px;
    opacity: .3;
}

.mytoolbox table{
    position: relative;
    top: -350px;
    left: 275px;
    height: 200px;
    width: 100%;
    font-size: 36px;
    text-align: left;
}

td{
    /* display:flex;
    flex-direction: row;
    justify-content: space-between; */
    padding: 25px;
}

.myresume p{
    height: 200px;
    max-width: 100%;
    border: 2px black solid;
    font-size: 32px;
    text-align: center;
    position: relative;
    margin-left: 20px;
    margin-bottom: 100px;
    overflow: scroll;
}

footer{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}